<?xml version="1.0" encoding="UTF-8"?>
<!--
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="STDOUT" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="./logs/console.log"/>
        <param name="append" value="true"/>
        <!-- <param name="MaxFileSize" value="5120KB" />  -->
        <param name="encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}  [%-5p] [%t] (%F:%L) - %m%n"/>
        </layout>
    </appender>
    <root>
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
    </root>

</log4j:configuration>